html {
    background-color: #fff3de;
}


.clearboth {
    clear: both;
}


.menu {
    text-align: right;
    padding: 10px;
    margin-bottom: 2px;
    background-color: #786f6c;
    border: solid #918784;
    border-radius: 0.5rem;

}

.menu .idioma {
    float: left;
    padding: 5px;
}

.menu ol#languaje {
    float: left;
    list-style-type: none;
    display: inline-block;
}

.menu ol#languaje li {
    float: left;
}

.menu ol#languaje li img {
    text-align: left;
    float: left;
    width: 30px;
    height: 30px;
}

.menu ol#menuOpciones {
    float: right;
    list-style-type: none;
}

.menu ol#menuOpciones li {
    float: left;
}


.logo img {
    float: left;
    margin-left: 40%;
    width: 120px;
    height: 65px;
}

.menu .apartado {
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana;
}

.apartado-activo {
    color: #f5812f;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: left;
    font-family: Verdana;
}


.cuerpo {
    margin-bottom: 40px;
    width: 900px;
    clear: both;
    margin: 0 auto;
}

.cuerpo .titulo h1 {
    text-align: center;
    margin: 60px;
    font-family: Arial Rounded MT;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 10px;

}

.cuerpo .seccion {
    float: bottom;
    clear: both;
}

/* Inicio */

div.seccion div.imagen img {
    float: left;
    width: 360px;
    height: 220px;
    margin-bottom: 80px;
    margin-right: 20px;
}



div.cuerpo div.seccion .texto p {

    font-size: 18px;
    margin-left: 10%;
    margin-top: 5%;
    font-family: Verdana;
    word-spacing: 12px;

}

div.cuerpo div.seccion .texto label {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 5%;
    font-family: Verdana;
    word-spacing: 12px;

}


div.titulo img {
    text-align: center;
    width: 35px;
    height: 35px;
}


footer div.footer {

    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Arial Rounded MT;

    background-color: #f5812f;
    border: solid #ffb38d;
    padding: 0.75rem 1.25rem;
    bottom: 0;
    border-radius: 0.5rem;
    clear: both;
}

/* Estilos Motos Coches Camiones */

.productos {
    margin-left: 8%;
    margin-right: 8%;
    font-family: Verdana;
}

.producto {
    float: left;
    padding: 18px;
    margin: 18px;

}

.producto .imgProducto {
    width: 260px;
    height: 190px;
}

.producto :first-child {
    font-weight: bold;
    text-align: center;
}


/* Contacto  */

.pregunta h1{
    font-family: Arial Rounded MT;
    font-size: 40px;
    margin: 5% 20% 5% 20%;

}

.pregunta  .texto {
    font-size: 18px;
    margin-left: 10%;
    margin-top: 5%;
    font-family: Verdana;
    word-spacing: 12px;

}

.pregunta img {
    width: 40px;
    height: 40px;
}

div.mapa {
    text-align: center;
}